<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428257817775-u5mhpj5fs21dbjd7cln03cdcv1qk61n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428257817775-u5mhpj5fs21dbjd7cln03cdcv1qk61n9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>428257817775-t7gobb6mat1bfcmslu1bh0hbuo2nfpq4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXkzSUqMOYbF0bckZoCf8hs7ACNXXVF_8</string>
	<key>GCM_SENDER_ID</key>
	<string>428257817775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.muallim</string>
	<key>PROJECT_ID</key>
	<string>muallimproject1</string>
	<key>STORAGE_BUCKET</key>
	<string>muallimproject1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428257817775:ios:24d1bcca854a584595905a</string>
</dict>
</plist>